{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    FT_TRANSCENDENCE
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
{% endblock%}

{% block body %}
    <main class="login_box">
        <div></div>
        <div class="form">
            <div>
                <h1>Welcome Back</h1>
                <p>Not registered yet? <a href="{% url 'accounts:signup'%}">Sign up</a></p>
                <hr>
                <form method="post">
                    <div class="form_inputs">
                        {% csrf_token %}
                        {{ form | crispy }}
                    </div>
                    <div class="form_cta">
                        <button type="submit">Login</button>
                        <a class="row_custom" href="{{ authorize_uri }}">
                            <span>or use</span>
                            <img class="icon" src="{% static 'icons/42-logo.svg' %}" alt="42 school logo">
                        </a>
                    </div>
                </form>
                <!-- {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
                {% endif %} -->
            </div>
        </div>
    </main>
{% endblock %}
