{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    FT_TRANSCENDENCE
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
{% endblock%}

{% block body %}
    <main class="login_box">
        <div></div>
        <div class="form">
            <div>
                <h1>Welcome Back</h1>
                <p>Not registered yet? <a href="{% url 'accounts:signup'%}">Sign up</a></p>
                <hr>
                <form hx-post="{% url 'accounts:login' %}" hx-target="#app-body" hx-push-url="true">
                    <div class="form_inputs">
                        {% csrf_token %}
                        {{ form | crispy }}
                    </div>
                    <div class="form_cta mt-4">
                        <button type="submit">Login</button>
                        <a class="row_custom" href="{{ authorize_uri }}">
                            <span>or use</span>
                            <img class="icon" src="{% static 'icons/42-logo.svg' %}" alt="42 school logo">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            // Add the CSRF token to htmx requests
            var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            event.detail.headers['X-CSRFToken'] = csrfToken;
        });
    </script>
{% endblock %}