{% extends 'base.html' %}
{% load static %}

{% block title %}
	home
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{% static 'home/styles.css' %}">
	<style>
		body {
			background-color: var(--secondary-bg-color);
		}
	</style>
{% endblock %}

{% block body %}
	<div class="banner d-flex">
		<img class="banner_img" src="{{ display_user.profile.image.url }}" width="125px" height="125px" alt="profile picture">
		<div class="banner_info">
			<div class="d-flex align-items-center">
				<!-- <h1 class="">@{{ user.username }}</h1> -->
				<h1 class="">@{{ display_user.username }}</h1>
				{% if display_user.username == user.username %}
					<a class="banner_option edit" href="{% url 'accounts:profile_edit' %}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
							<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
							</svg>
					</a>
				{% endif %}
				<i class="bi bi-pen"></i>
			</div>
			<p>Eccentric warrior, adorned and armed, storms into battle with flair.</p>
			<div class="d-flex banner_score">
				<p class="mr-5 bs_v">wins: {{ display_user.profile.wins }}</p>
				<p class="bs_l">losses: {{ display_user.profile.losses }}</p>
			</div>
		</div>
	</div>
	<section class="feed">
		<h3>Latest Matches</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quidem voluptatum quisquam officiis numquam, perferendis tempore rem nostrum ut libero asperiores optio voluptate quaerat? Minima.</p>
	</section>
{% endblock %}


	