{% extends 'base.html' %}
{% load static %}

{% block title %}
	FT_TRANSCENDENCE
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'home/styles.css' %}">
{% endblock%}

{% block body %}
	<div>
		<div>
			<div>
				<h1>Ft_transcendence</h1>
			</div>
		</div>
		<div>
			<div>
				<h3>Hello, {{ user.username }}!</h3>
			</div>
		</div>
		<div>
			<div>
				<form>
					<label>Login:</label>
					<input type="text" id="username" name="username" value="{{ user.username }}"></intput>
					<label>Email:</label>
					<input type="text" id="email" name="email" value="{{ user.email }}"></input>
					<label>Avatar:</label>
					<input type="file" id="avatar" name="avatar" value="{{ user.avatar }}"></input>
					<div>
						<button type="submit">Save</button>	
					</div>
				</form>
			</div>
		</div>
		<div>
			<div>

			</div>
		</div>	
	</div>

{% endblock %}

