{% extends 'base.html' %}
{% load static %}

{% block title %}
    FT_TRANSCENDENCE
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'home/styles.css' %}">
{% endblock%}

{% block body %}
    <main class="login_box">
        <div></div>
        <div>
            <div>
                <h1>Welcome Back</h1>
                <p>Not registered yet? <a href="/register/">Sign up</a></p>
                <hr>
                <form method="post">
                    <div class="form_inputs">
                        {{ form.as_p }}
                        <br>
                        {% csrf_token %}
                    </div>
                    <button type="submit">Login</button>
                </form>
                <!-- {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
                {% endif %} -->
            </div>
        </div>
    </main>
{% endblock %}
