{% extends 'navbar.html' %}

{% block title %}
    FT_TRANSCENDENCE
{% endblock %}

{% block body %}
    <div class="modal d-block bg-body-secondary modal-dialog modal-dialog-centered" style="text-align: center;">
        <div class="modal-content shadow-sm">
            <div class="modal-header">
                <h2>Login</h2>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="mb-3">
                        {{ form.as_p }}
                        {% csrf_token %}
                    </div>
                    <div class="d-grid gap-2 col-10 mx-auto">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
