{% extends 'base.html' %}
{% load static %}

{% block title %}
	FT_TRANSCENDENCEEEE
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'home/styles.css' %}">
{% endblock%}

{% block body %}
	<div class="profile_container">
		<div>
			<img src="{% static 'images/user.png' %}" alt="">
			<h1>Hello mister {{ user.username }}</h1>
		</div>
		<div>
			<a class="option edit" href="/profile/edit/">Edit</a>
			<a class="option delete" href="/profile/{{ user.username }}/delete/">Delete</a>
		</div>
	</div>	
{% endblock %}
	