{% extends 'base.html' %}
{% block body %}
<html>
<head>
    <title>Chat</title>
</head>
<body>
    {% for i in rooms %}
    <div style="border: 1px solid #ccc; padding: 10px; border-radius: 5px; width: 300px; display: flex; flex-direction: column;">
        <div style="margin-bottom: 10px;">
            <h5 style="font-size: 18px; margin: 0;">{{i.name}}</h5>
        </div>
        <a href="{{i.slug}}" style="text-decoration: none; align-self: flex-end; padding: 8px 15px; background-color: #007bff; color: #fff; border-radius: 3px;">Go to room</a>
    </div>
    {% endfor %}
</body>
</html>

{% endblock %}