/*******************************************************************************
                             LEADERBOARD
*******************************************************************************/

.table {
    margin: 40px 0;
    background-color: var(--bg-layer1);
    border-radius: 20px;
    border: 1px solid var(--accent);
    box-shadow: 0 0.4rem .8rem var(--secondary-bg-color);
    overflow: hidden;
}

table {
    width: 100%;
}

.table_header {
    text-align: center;
    background-color: var(--accent);

}
.table_header h1 {
    font-size: 32px;
    padding: 8px 0;
}

.table_body {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: calc(89% - 1.6rem);
    margin: .8rem auto;
    border: 1px solid var(--bg-layer2);
    border-radius: 0 0 10px 10px;
    overflow: auto;
}

td {
    display: flex;
    align-items: center;

}
td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
}

table, th, td {
    padding: 1rem;
}

tr {
    display: flex;
    justify-content: space-between;
}

thead th {
    position: sticky;
}

tbody tr {
    cursor: pointer;
}
tbody tr:nth-child(even) {
    background-color: var(--bg-layer1);
}
tbody tr:nth-child(odd) {
    background-color: var(--bg-layer2);
}

tbody tr:hover {
    background-color: rgb(136, 0, 255);
}
