<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'css/reset.css' %}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<title>{% block title %}{% endblock %}</title>
		{% block styles %}{% endblock %}
		{% block script %}{% endblock %}
	</head>
	<body>
		{% include './navbar.html' %}
		<main>
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{message.tags}}">
						{{ message | safe }}
					</div>
				{% endfor %}
			{% endif %}
			{% block body %}{% endblock %}
		</main>
		{% block script_body %}{% endblock %}
		<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
	</body>
</html>