{% load static %}

<header class="navbar">
    <div class="row">
        <a class="logo" href="/">Transcendance</a>
        <nav>
            <ul class="nav_links" alt="logo">
                <li><a href="/">Home</a></li>
                <li><a href="/leaderboard/">Leaderboard</a></li>
                <li><a href="/game/">Game</a></li>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <li><a href="/admin/">Admin</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="row">
        {% if user.is_authenticated %}
        <img class="user_pic" onclick="toggleMenu()" src="{% static 'images/user.png' %}" width="48px" alt="user image">

        <div class="sub_menu_wrapper" id="dropdown_menu">
            <div class="sub_menu">
                <div class="user_info">
                    <h3>{{ user.username }}</h3>
                </div>
                <hr>
                <a href="/profile/" class="sub_menu_link">
                    <img src="{% static 'icons/profile.svg' %}" alt="">
                    <p>Your profile</p>
                </a>
                <a href="/game/chatbox/" class="sub_menu_link">
                    <img src="{% static 'icons/chat.svg' %}" alt="">
                    <p>Chat</p>
                </a>
                <a href="/logout/" class="sub_menu_link">
                    <img src="{% static 'icons/logout.svg' %}" alt="">
                    <p>Logout</p>
                </a>
            </div>
        </div>
        {% else %}
            <a href="/login"><button class="cta">Log in</button></a>
            <a href="/register"><button class="cta">Sign up</button></a>
        {% endif %}
    </div>
</header>