{% extends 'basegame.html' %}
{% load static %}

{% block title %}
	FT_TRANSCENDENCE
{% endblock %}


{% block script %}
<!-- three js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.158.0/three.min.js" integrity="sha512-/WaZCC76Yn6MLEoK6b9np9yiLBet/RngBS33X1P0SHuag6j2E0e5rT7jbA2CvXCydN6+FkDYNx8FBM+vkzsthw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script src="/static/threejs/src/Three.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/examples/js/controls/OrbitControls.js"></script> -->

<script>
	const shapes = JSON.parse('{{ shapes | safe }}');
    const user = '{{ user | safe }}';
	const mapSetting = JSON.parse('{{ mapSetting | safe }}');
</script>

<script type="module" src="{% static 'main.js' %}" defer></script>

<!-- WebSocket setup -->
<script type="module">
    document.addEventListener('DOMContentLoaded', (event) => {
        const gameSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/game/'
        );

        gameSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            // Handle incoming messages/data
        };

        gameSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        // Function to send messages
        function sendMessage(message) {
            gameSocket.send(JSON.stringify(message));
        }

        // Example: Sending a message
        // sendMessage({ action: 'some_action', value: 'some_value' });

        // Add additional game logic here or in external scripts
    });
</script>
{% endblock %}


{% block body %}

<div id="scene-box">

</div>

{% endblock %}