/*******************************************************************************
                             IMPORTS
*******************************************************************************/

@font-face {
    font-family: 'whitney';
    src: url('../fonts/W-Book.woff') format("woff");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'whitney';
    src: url('../fonts/W-Bookitalic.woff') format("woff");
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: 'whitney';
    src: url('../fonts/W-Medium.woff') format("woff");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'whitney';
    src: url('../fonts/W-Semibold.woff') format("woff");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'whitney';
    src: url('../fonts/W-Bold.woff') format("woff");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'planet-joust';
    src: url('../fonts/planetjoust-h.woff') format("woff");
    font-weight: 700;
    font-style: normal;
  }

/*******************************************************************************
                             GLOBAL SETTINGS
*******************************************************************************/

* {
    padding: 0;
}

:root {
    --main-bg-color: #282633;
    --secondary-bg-color: #1C1A24;
    --bg-layer1: #312E3D;
    --bg-layer2: #403D4D;
    --text-color: #edf0f1;
    --accent: #8F13FD;
    --accent-faded: #7011F4;
    --accent2: #E94C89;
    --alert: #ED4245;
}

body {
    font-family: 'whitney', "Segoe UI", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

/*******************************************************************************
                             BUILT-IN TAGS
*******************************************************************************/

li, a, button {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: var(--text-color);
}

a {
    color: var(--text-color);
}

a:hover {
    color: var(--text-color);
}

button:not(.btn_discrete) {
    padding: 9px 25px;
    /* background-color: var(--accent); */
    background: linear-gradient(#8F13FD, #7011F4);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:not(.btn_discrete):hover {
    background: linear-gradient(#fd139f, #9211f4);
}

.btn_discrete {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    height: auto;
}

hr {
    border: 0;
    height: .2px;
    width: 100%;
    background: var(--bg-layer2);
    margin: 16px 0 24px;
}

input, textarea {
    outline: none;
    border-radius: 4px;
    border-radius: 5px;
    border: 1px solid var(--main-bg-color);
    height: 2rem;
    background-color: var(--bg-layer2);
    color: var(--text-color);
    padding: 4px 8px;
    margin: 4px 0 12px 0;
}

input:focus, textarea:focus {
    border: 1px solid var(--accent);
    box-shadow: 0 0 4px rgba(255, 0, 0, .5);
}

.icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    padding: 4px;
    cursor: pointer;
    margin-left: 8px;
}

.icon:hover {
    background-color: gray;
}

/*******************************************************************************
                        CONTAINERS & LAYOUT TAGS
*******************************************************************************/

main {
    max-width: 756px;
    margin: auto;
    padding-top: 25px;
}

.row_custom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*******************************************************************************
                           NAVIGUATION BAR
*******************************************************************************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

.navbar {
    background-color: var(--secondary-bg-color);
    position: relative;
}
.navbar div:nth-child(2) .cta {
    margin-right: 10px;
}

.logo {
    cursor: pointer;
    font-family: 'planet-joust', 'whitney';
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--accent);
    margin-right: 12px; 
}

.logo:hover {
    color: var(--accent);
}

.nav_links {
    list-style: none;
    margin-bottom: 0;
}

.nav_links li {
    display: inline-block;
    padding: 0px 0px 0px 10px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: var(--accent);
}

.user_pic {
    border-radius: 75%;
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.sub_menu_wrapper {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 260px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s;
    z-index: 99;

}

.open_menu {
    max-height: 400px ;
}

.sub_menu {
    background-color: var(--secondary-bg-color);
    padding: 20px;
    border: .4px solid var(--secondary-bg-color);
    border-radius: 5px;
    margin: 10px;
}

.sub_menu hr {
    border: 0;
    height: .2px;
    width: 100%;
    background: var(--bg-layer2);
    margin: 15px 0 10px;
    display: block;
}

.sub_menu .sub_menu_link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 8px 0;
    transition: 0.1s all ease-in-out;
}

.sub_menu .sub_menu_link img {
    width: 40px;
    padding: 8px;
    border-radius: 50%;
    margin-right: 12px;
}

.sub_menu .sub_menu_link:hover {
    background-color: var(--bg-layer2);
    border-radius: 8px;
}

.sub_menu .sub_menu_link p {
    width: 100%;
}

.user_info {
    display: flex;
    align-items: center;
}

.user_info h3 {
    font-weight: 600;
}

/*******************************************************************************
                                    ALERTS
*******************************************************************************/

.success_msg {
    background-color: #D4EDDA;
    color: #155723;
    border: solid 1px #155723;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}